{
  "extends": ["alexandernanberg", "alexandernanberg/typescript"],
  "plugins": ["react-native"],
  "settings": {
    "import/ignore": ["react-native"],
  },
  "rules": {
    "react-native/no-unused-styles": "error",
    "import/no-extraneous-dependencies": "off",
  },
  "ignorePatterns": ["node_modules"],
}
